<title>About Us</title>
<div class ="page-header">
  <h1> {Sassy <3 Hash} </h1>
  <h2>Smart and Sexy Women Of the World Unite!</h2>
</div>

<div class = "lead">
  <p> 3 things I strive to be.
  Look Fabulous. Stay On a Budget. Be a Good Person. </p>

  <p>They're not mutually exclusive.</p>

</div>
