<title>Your Rentals</title>
<div class="sticker">
  <div class="page-title">
    <h2> <%= current_user.first_name %>'s Rentals </h2>
  </div>
</div>

<div class="box">
  <% if current_user.rentals.empty? %>
    <h4> You have no rental history. :( </h4>
  <% else %>
    <h4>  You have <%= pluralize(current_user.rentals.count, "rental") %>.</h4>
    <% current_user.rentals.each do |rental, i| %>
      <%= render :partial => "shared/show_rental", :locals => {:rental => rental, :dress => rental.dress} %>
    <% end %>
  <% end %>
</div>

