<title>Your Rental</title>
<div class="sticker">
  <div class="page-title">
    <h2>Your Rental </h2>
  </div>
</div>

<div class="box">
  <span style ="float:right;">
    <% if current_user == @dress.owner %>
      <%= render :partial => 'buttons', :locals => {:rental => @rental} %>
    <% end %>
  </span>


<div style="clear:both"></div>
  <%= render :partial => "shared/show_rental", :locals => {:rental => @rental, :dress => @dress} %>

</div>