/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require jquery.fileupload-ui
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require jquery.multiselect
 *= require jquery.multiselect.filter
 */

 @import 'bootstrap-styles';
 @import 'bootstrap';

 /*@import 'bootstrap-responsive';*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


body {
  background-color: white;
  // background-image: asset-url('image.jpg',image);
  // background-repeat: repeat;
  // background-position: center;
  // background-attachment: fixed;
  // background-size: cover;
}

@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

.alert {
  font-family: 'AlegreyaRegular';
  font-size: 15px;
  position: fixed;
  top: 0;
  z-index: 1040;
  width: 100%;
  padding-left: 30px;
  padding: 5px;
  color: #444;
  border-radius: 0;

  }

.form-box {
  margin: 5px;
  padding-left: 40px;
  max-width: 300px;
}

.everything {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto;
  

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=text], input[type=number], input[type=image],
  input[type=reset], input[type=button], input[type=radio], 
  input[type=checkbox], input[type=submit], button, input, textarea {
    border: 1px solid #ccc;
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
    margin: 0.5em 0; 
    font-size: 1em; 
    width: auto; 
    border-radius: 0px;
    font-family: 'AlegreyaRegular'
  }
  input[type="button"] {
    background-color: white;
  }
  input[type=submit], button {
    background-color:#87cce5;
    font-weight: bold;
  }

  input[type=file] {
    margin: 0.5em 0; 
    font-size: 1em; 
    width: auto; 
    border-width: 0px;
    font-family: 'AlegreyaRegular';
    z-index:2;
  }
  .navbar { 
    margin-top: 0;

    position: relative;
    font-family: 'PacificoRegular';
    font-size: 20px; 
    border-top: dashed 3px #837e94;
    border-bottom: dashed 3px #837e94;
    z-index: 1030;
    margin-bottom: 0;

    .dropdown-menu {
      background-color: white;
      border-width: 0;
      border-radius: 0;
    }
  // text-shadow: 0.03em 0.03em 0.08em #310f16;
  // box-shadow: 0.03em 0.03em 0.08em #28296b;
    .brand {
      color: #ac48b8;
      font-size: 25px;
      text-shadow: 0.05em 0.05em 0.1em #fdefc5;
      margin-left: 5px;
      margin-right: 5px;
      font-family: 'PacificoRegular';
    }
    .nav{
      .current-user-name {
        margin: 0;
        margin-right: 10px;
        font-family: 'DubielPlainRegular';
        color: #f6f6cb;
        font-size: 15px;
        font-weight: none;
        padding: 0;
      }
    }  
  }
  .center-wrap {
    font-family: 'AlegreyaRegular';
    font-size: 14px;

    .input-group {
      margin-bottom: 10px;
      padding-left: 10px;
      input[type=text], input[type=number], input[type=button] {
        width: 230px;
      }
    }

    .ui-multiselect.myClass {
      background-color: white;
      font-size: 15px;
      font-family: 'AlegreyaRegular';
    }
    .ui-multiselect-menu.myClass {
      font-family: 'AlegreyaRegular';
      font-size: 13px;
    }

    .page-title{
      margin: 0 auto;
      width: 900px;
      border-top: 5px solid #f89bd8;
    }

    .box{
      // border-color: #e5aba8;
      // padding-top: 20px;
      width: 900px;
      margin: 0 auto;
      // padding: 20px;
    }
    h1 {
      font-family: 'DubielPlainRegular';
      text-shadow: 0.04em 0.04em 0.1em #b19d7c;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 10px; 
    }

    h2 {
      margin-top: 3px;
      margin-bottom: 3px;
      line-height: 40px;
      font-family: 'DubielPlainRegular';
    }

    em {
      font-family: 'AlegreyaItalic';
      font-style: normal;
    }

    strong {
      font-family: 'AlegreyaBold';
      font-weight: normal;
    }
    
    .accept-button {
      padding-left: 10px;
      margin: 20px;
      text-align: center;
    }
    .deny-button {
      padding-left: 10px;
      margin: 20px;
      text-align: center;
    }

    .rent-button {
        float: right;
        margin-right: 20px;
        padding-top: 5px;
        font-size: 18px;
        font-weight: normal;
        margin-top: 15px;
        float:right;
        margin-right: 50px;
        font-family: 'AlegreyaBold'
    }
    .dress-show-wrap {
      padding-bottom: 20px;
      .dress-image {
        float: left;
        margin: 5px;
        max-width: 500px;
      }
      .dress-description {
        float: left;
        margin: 5px;
        font-size: 18px;
        max-width: 350px;

      }
      .dress-links {
        margin-top: 20px;
        text-align: center;
        a{
          margin-right: 10px;
        }
      }

      .buttons-wrap {
      margin: 0 auto;
      }
    }

    .link-box {
      float: right;
      font-size: 14px;
      line-height: 20px;
      padding-right: 20px;

    }
    
    .ui-widget-overlay {
      opacity: .50 !important;
      filter: Alpha(Opacity=50) !important;
      background-color: rgb(50, 50, 50) !important;
    }

    .notes {
      height: 100px; 
    }


    .custom-checkbox-label {
      color: black;
      font-weight: bold;
      font-size: 15px;
      margin: 0 auto;
      padding-right: 5px;
    }

    .sticker {
      width: 100%;
      height: 50px;
      background-color: #f89bd8;
      box-shadow: 0.1em 0.2em 0.1em #acada9;
      margin-bottom: 25px;
      .searchbox {
        width: 900px;
        height: 50px;
        margin: 0 auto;
        margin-top: 15;
        // .jquery-ui-button {
        //   background-color: #e8e0e9;
        //   border-width: 2px;
        //   border-style: solid;  
        //   font-size: 15px;
        //   font-family: 'AlegreyaRegular';
        // }
        // .jquery-ui-menu {
        //   font-family: 'AlegreyaRegular'; 
        // }
        // background-color: #63b6ab;
      }
    }

    .form-actions {
      background-color: transparent;
    }

    .form-inputs {
      margin-top: 30px;
    }

    .dresseswrap {

      ul, li {
        margin: 0;
        padding: 0;
      }

      .dresswrap {
        display: inline;
        width: 280px;
        height: 400px;
        float: left;
        margin-bottom: 20px;
        margin-right: 10px;
        padding: 0 auto;
        // background-color: #7ca8bc; 
        // background-color: #d9e4ee; #cce3f9; #c2e3f2; 
        // box-shadow: 0.05em 0.2em 0.2em #cdd6da;
        // box-shadow: 0.2em 0.0em 0.2em #e5aba8;
        overflow: hidden;
        padding: 5px 5px;
        .dresswrap-image {
          height: 300px;
          margin: 0 auto;
        }
        .description {
          font-size: 1.1em; 

          strong {
            font-size: 1.3em; 
          }

          .icons {
            padding-top: 30px;
            width: auto;
          }
        }
      }
    }
  }
  .push {
    height: 3em;
  }
}

footer {
    position:absolute;
    width:100%;
    height:3em;   /* Height of the footer */
    margin: 0;
    border-width: 0;
    // position: relative;
    font-family: "PacificoRegular";
    background-color: #a988ad; 
      // #bea5c1;
      // background-color: #3b6d66;
    color: #605a4a;
    padding-top: 10px;
    border-top: dashed 3px white;
    // border-bottom: 0;
    
    .about-us {
      float:right;
      margin-right: 20px;
      padding-right: 10px;
      color: #9ae4ff

    }
  }

ul {
  list-style-type: none;

}
.row {
  width: 940px;
}




@font-face {
    font-family: 'MutluOrnamental';
    src: asset-url('Mutlu__Ornamental-webfont.eot', font);
    src: asset-url('Mutlu__Ornamental-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('Mutlu__Ornamental-webfont.woff', font) format('woff'),
         asset-url('Mutlu__Ornamental-webfont.ttf', font) format('truetype'),
         asset-url('Mutlu__Ornamental-webfont.svg#MutluOrnamental', font) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PacificoRegular';
    src: asset-url('Pacifico-webfont.eot', font);
    src: asset-url('Pacifico-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('Pacifico-webfont.woff', font) format('woff'),
         asset-url('Pacifico-webfont.ttf', font) format('truetype'),
         asset-url('Pacifico-webfont.svg#PacificoRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DubielPlainRegular';
    src: asset-url('Dubiel-webfont.eot', font);
    src: asset-url('Dubiel-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('Dubiel-webfont.woff', font) format('woff'),
         asset-url('Dubiel-webfont.ttf', font) format('truetype'),
         asset-url('Dubiel-webfont.svg#DubielPlainRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DubielItalic';
    src: asset-url('DubielItalic-webfont.eot', font);
    src: asset-url('DubielItalic-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('DubielItalic-webfont.woff', font) format('woff'),
         asset-url('DubielItalic-webfont.ttf', font) format('truetype'),
         asset-url('DubielItalic-webfont.svg#DubielItalic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasRegular';
    src: asset-url('BEBAS___-webfont.eot', font);
    src: asset-url('BEBAS___-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('BEBAS___-webfont.woff', font) format('woff'),
         asset-url('BEBAS___-webfont.ttf', font) format('truetype'),
         asset-url('BEBAS___-webfont.svg#BebasRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PermanentMarkerRegular';
    src: asset-url('PermanentMarker-webfont.eot', font);
    src: asset-url('PermanentMarker-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('PermanentMarker-webfont.woff', font) format('woff'),
         asset-url('PermanentMarker-webfont.ttf', font) format('truetype'),
         asset-url('PermanentMarker-webfont.svg#PermanentMarkerRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GreatVibesRegular';
    src: font-url('GreatVibes-Regular-webfont.eot');
    src: font-url('GreatVibes-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('GreatVibes-Regular-webfont.woff') format('woff'),
         font-url('GreatVibes-Regular-webfont.ttf') format('truetype'),
         font-url('GreatVibes-Regular-webfont.svg#GreatVibesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaRegular';
    src: font-url('Alegreya-Regular-webfont.eot');
    src: font-url('Alegreya-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Alegreya-Regular-webfont.woff') format('woff'),
         font-url('Alegreya-Regular-webfont.ttf') format('truetype'),
         font-url('Alegreya-Regular-webfont.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaItalic';
    src: font-url('Alegreya-Italic-webfont.eot');
    src: font-url('Alegreya-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Alegreya-Italic-webfont.woff') format('woff'),
         font-url('Alegreya-Italic-webfont.ttf') format('truetype'),
         font-url('Alegreya-Italic-webfont.svg#AlegreyaItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaBold';
    src: font-url('Alegreya-Bold-webfont.eot');
    src: font-url('Alegreya-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Alegreya-Bold-webfont.woff') format('woff'),
         font-url('Alegreya-Bold-webfont.ttf') format('truetype'),
         font-url('Alegreya-Bold-webfont.svg#AlegreyaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CACChampagneRegular';
    src: font-url('cac_champagne-webfont.eot');
    src: font-url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('cac_champagne-webfont.woff') format('woff'),
         font-url('cac_champagne-webfont.ttf') format('truetype'),
         font-url('cac_champagne-webfont.svg#CACChampagneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .everything {
    padding-top: 0px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 20px;
  }
  .navbar-fixed-bottom {
    margin-top: 20px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f2f2f2;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #f4c2c2;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #683640;
    color: #f6f6cb;;
  }
  .nav-collapse.in .btn-group {
    padding: 0;
    margin-top: 5px;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    display: none;
    float: none;
    max-width: none;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  .navbar .btn-navbar {
    position: relative;
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-right: 10px;
    padding-left: 10px;
  }

  .center-wrap {
    .offset1, .offset2, .offset3{
      margin: 0px;
    }
    .notes {
      margin: 0px;
      padding: 0px; 
      height: 80px; 
    }
  }

  .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
  }
  
  .form-horizontal .controls {
        margin-left: 0;
  }
  
  .form-horizontal .control-list {
        padding-top: 0;
  }
  
  .form-horizontal .form-actions {
        padding-left: 20px;
        padding-right: 20px;
        float: right;
  }

   
  .form-inputs {
      margin-left: 20px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
      font-family: 'AlegreyaRegular'; 
  }
  
  .row {
    margin: 0;
    max-width: 100%;
    
    .dresseswrap {
      width: 90%;

      .dresswrap {
        width: 400px;
      }

      .span4 {
        margin: 0px;
        padding: 0px;
        width: 55%;
      }

      .span3{
        margin: 0px;
        padding: 0px;
        max-width: 30%;
      }

      .dresswrap {
        font-size: 80%;
        padding: 10px;
        margin: 10px;
          
        .description {
          margin: 0 auto;
        }

        .thumbnail-img {
          margin: 0px;
          height: auto;
          width: auto;
          margin: 0 auto;
        }
      }
    }

    .span3 {
      margin: 0px;
      padding: 0px;
      width: auto;
    }

    .searchwrap {
      margin: 0 auto;
      padding: 30px;
      .form-inputs {
      }
    }
  }
}

@media (min-width: 480px) and (max-width:800px) {
  .center-wrap {
    width: 90%;
  }
}


@media (max-width: 479px) {
  .everything {
    padding-top: 5px;
    padding-left:10px;
    padding-right:10px;

  }
  .center-wrap {
    margin: 0;
    min-height: 800px;

    .box{
      width: 100%;
      padding: 0px;
    }

    h3,
    h4,
    h5,
    h6, body, em, small {
      font-size: 14px;
      line-height: 20px;
    }
    
    h1{
      font-size:24px;
      line-height: 24px;
    }

    h2 {
      font-size: 18px;
      line-height: 20px;
    }

    .form-inputs {
      margin-left: 5px;
      padding-left: 0px;
      padding-right: 0px;
      text-align: left;
      line-height: 20px;
    }
  }

  .span8 {
    width: 100%;
  }
}


