/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 */

 @import 'bootstrap-styles';
 @import 'bootstrap';
 @import 'bootstrap-responsive';

html {
  height: 100%;
}


body {
  background-image: asset_url('pink_pearls.jpg', image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: 'AlegreyaRegular';
  font-size: 14px;

  em {
    font-family: 'AlegreyaItalic';
    font-style: normal;
  }
  strong {
    font-family: 'AlegreyaBold';
    font-weight: normal;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  body {

  }
}

@media (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 80%;
  }
}

img {
  max-width: 95%;
}


.everything {
  min-height: 100%;
  margin-bottom: -100px;
}

.alert {
  margin: 20px;
  padding: 5px;
  color: #444;
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 2048px;
  height: 100%;
  z-index: -10;
}

.full-screen {
  min-width: 100%;
  min-height: 100%;
}

.center-wrap {
  background-color: #d9c9cf;
  border-color: #ff5057;
  width: 960px;
  margin: 0 auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 20px;

  h1 {
  font-family: 'GreatVibesRegular';
  text-shadow: 0.1em 0.2em 0.2em #b19d7c;
  margin-top: 10px;
  }
}


header, .media, table {
  margin: 30px 0;
}

ul {
  list-style-type: none;

}
.row {
  width: 940px;
  padding-left: 40px;
}

.dress-show-wrap {
  padding-bottom: 20px;
  .large-img {
    margin: 10px;
    margin-top: 20px;
    height: auto;
    box-shadow: 0.2em 0.2em 0.2em #b19d7c;
    width: 100%;
  }
  .description {
    margin-top: 20px;

  }
  .dress-links {
    margin-top: 20px;
    text-align: center;
  }
}

.buttons-wrap {
  margin: 0 auto;
  .accept-button {
    padding-left: 10px;
    margin: 20px;
    text-align: center;
  }
  .deny-button {
    padding-left: 10px;
    margin: 20px;
    text-align: center;
  }
}

.rent-button {
  padding-top: 5px;
  font-size: 20px;
  margin-top: 15px;
  float:right;
  margin-right: 50px;
  font-family: 'AlegreyaBold'
}
h1, h2, h3, h4 {
  margin: auto;
}

.navbar {
  margin: 20px;
  padding: 5px;
  font-family: 'CACChampagneRegular';
  font-size: 25px;
  text-shadow: 0.1em 0.1em 0.2em #d9abcb;

  .brand {
      padding-right: 30px;
      padding-left: 30px;
      font-weight: 230;
      font-size: 35px;
      text-shadow: 0.1em 0.1em 0.2em #d9abcb;
    }

  .nav{

    .current-user-name {
      margin-right: 18px;
      font-family: 'AlegreyaRegular';
      color: #f6f6cb;
      font-size: 15px;
      font-weight: none;

    }
  }
}

.ui-widget-overlay
{
  opacity: .50 !important;
  filter: Alpha(Opacity=50) !important;

  background-color: rgb(50, 50, 50) !important;
}

.spacefooter {
  height: 100px;
}

footer {
  margin: 0;
  height: 100px;
  position: relative;

  .footer-stuff {
    margin-left: 100px;
    margin-top: 20px;
  }
}

.brown {
  background-color: #310f16;
  color: white;
}

.form-actions {
  background-color: transparent;
}

.dresseswrap {
  ul, li {
    margin: 0;
    padding: 0;
  }
  .dresswrap {
    background: #ffffcc;
    border-color: #9f5671;
    border-width: 3px;
    border-style: dotted;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0.2em 0.2em 0.2em #b19d7c;
    margin: 20px;

    .description {
      padding: 20px;

      .icons {
        padding-top: 30px;
        width: auto;
      }
    }

    .thumbnail-img{
    height: auto;
    width: 100%;
    box-shadow: 0.2em 0.2em 0.2em #b19d7c;
    margin: 20px;
    }
  }
}

.searchwrap {
  margin: 0 auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0.2em 0.2em 0.2em #b19d7c;
  padding: 15px;
  background: #c492a5;
  /*#e1cca8;*/
  h1 {
    font-size: 25px;
    text-shadow: 0.1em 0.2em 0.2em #c7adb7;
    text-align: center;
  }
}


@font-face {
    font-family: 'MutluOrnamental';
    src: asset-url('Mutlu__Ornamental-webfont.eot', font);
    src: asset-url('Mutlu__Ornamental-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('Mutlu__Ornamental-webfont.woff', font) format('woff'),
         asset-url('Mutlu__Ornamental-webfont.ttf', font) format('truetype'),
         asset-url('Mutlu__Ornamental-webfont.svg#MutluOrnamental', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PermanentMarkerRegular';
    src: asset-url('PermanentMarker-webfont.eot', font);
    src: asset-url('PermanentMarker-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('PermanentMarker-webfont.woff', font) format('woff'),
         asset-url('PermanentMarker-webfont.ttf', font) format('truetype'),
         asset-url('PermanentMarker-webfont.svg#PermanentMarkerRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GreatVibesRegular';
    src: font-url('GreatVibes-Regular-webfont.eot');
    src: font-url('GreatVibes-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('GreatVibes-Regular-webfont.woff') format('woff'),
         font-url('GreatVibes-Regular-webfont.ttf') format('truetype'),
         font-url('GreatVibes-Regular-webfont.svg#GreatVibesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaRegular';
    src: font-url('Alegreya-Regular-webfont.eot');
    src: font-url('Alegreya-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Alegreya-Regular-webfont.woff') format('woff'),
         font-url('Alegreya-Regular-webfont.ttf') format('truetype'),
         font-url('Alegreya-Regular-webfont.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaItalic';
    src: font-url('Alegreya-Italic-webfont.eot');
    src: font-url('Alegreya-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Alegreya-Italic-webfont.woff') format('woff'),
         font-url('Alegreya-Italic-webfont.ttf') format('truetype'),
         font-url('Alegreya-Italic-webfont.svg#AlegreyaItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaBold';
    src: font-url('Alegreya-Bold-webfont.eot');
    src: font-url('Alegreya-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Alegreya-Bold-webfont.woff') format('woff'),
         font-url('Alegreya-Bold-webfont.ttf') format('truetype'),
         font-url('Alegreya-Bold-webfont.svg#AlegreyaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CACChampagneRegular';
    src: font-url('cac_champagne-webfont.eot');
    src: font-url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('cac_champagne-webfont.woff') format('woff'),
         font-url('cac_champagne-webfont.ttf') format('truetype'),
         font-url('cac_champagne-webfont.svg#CACChampagneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
