<title>The Closet</title>

<div class="row">
  <% if user_signed_in? %>
    <span class="link-box">
      <%= link_to raw("<i class=\"icon-plus\"></i> Add A Dress"),
      new_dress_path %>
      <%= link_to raw("<i class=\"icon-home\"></i> My Dresses"),
      user_path(current_user) %>
    </span>
  <% end %>
  <h1>The Closet</h1>
</div>

<div class="searchwrap">
<%= render :partial => 'search', :locals => {:search => @search } %>
</div>
  
<% if @dresses.empty? %>
<% else %>
  <div class="dresseswrap">
    <%= render :partial => 'shared/show_dresses', :locals => {:dresses => @dresses} %>
  </div>
<% end%>


