<title>Rent Out Your Dress</title>
<h1>Add A Dress<h1>
<h2><small>Easier Way to Make Money Than DDS and Babysitting Combined</small></h2>


<%= render :partial => 'form', :locals => {:dress => @dress} %>