<title>Rent Out Your Dress</title>
<h1>Add A Dress <br><h1>
<h2><small>Easier Way to Make Money Than DDS or Babysitting Combined</small></h2>


<%= render :partial => 'form', :locals => {:dress => @dress} %>